@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@material-tailwind/react/tailwind.css';

@layer utilities {
    .-translate-x-1\/2 {
        --tw-translate-x: -50% !important;
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  